{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}

{% block body %}
    <section class="commentaires-list">
    {% for commentaire in commentaires %}
        <div class="commentaire">

            {{ commentaire.note }} / 5 <br>
            {{ commentaire.texte }}

        </div>
    {% endfor %}
    </section>

{% endblock %}
