{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}



{% block body %}
    <section>
        <div class="gallery-container">
            <div class="gallery">
                <div class="slide">
                    <img src="photo1.jpg" alt="Photo 1">
                </div>
                <div class="slide">
                    <img src="photo2.jpg" alt="Photo 2">
                </div>
                <div class="slide">
                    <img src="photo3.jpg" alt="Photo 3">
                </div>
                <!-- Ajoutez d'autres photos ici -->
            </div>
            <button class="prev-button">Précédent</button>
            <button class="next-button">Suivant</button>
        </div>
        <div>
            <p>Ici une presentation du restaurant et de la cuisine ainsi que des patrons</p>
        </div>
    </section>


    <section class="commentaires-list">
        <h2>Commentaires</h2>
        <div class="commentaires-container">
    {% for commentaire in commentaires %}
        <div class="commentaire">

            {{ commentaire.note }} / 5 <br>
            {{ commentaire.texte }}

        </div>
    {% endfor %}
        </div>
    </section>

    <section class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2231.1271498006554!2d-2.7074581109809683!3d47.57041436173627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x481002b22585627b%3A0xf4cabc2cc11de464!2sBARA%20BREIZH!5e0!3m2!1sfr!2sfr!4v1695130972570!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

{% endblock %}
