<div class="col">
    <p>Ouvert du mercredi au dimanche<br>
    12h / 14h et  19h / 21h<br>
    Fermé le lundi et mardi</p>
</div>

<div class="col">
    <p>Suivez-nous sur les réseaux sociaux</p>
    <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
    </ul>
</div>

<div class="col">
    <p>Contactez-nous</p>
    <ul>
        <li>Téléphone : +33 123 456 789</li>
        <li>Email : contact@votrerestaurant.com</li>
    </ul>
</div>

<div class="col">
    <div class="payment-methods-inner">
        <p>Moyens de paiement acceptés :</p>
        <ul>
            <li>Carte de crédit</li>
            <li>PayPal</li>
            <li>Chèques</li>
        </ul>
    </div>
</div>